* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


nav {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: transparent;
  z-index: 100;
}

main {
  width: 1300px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

nav main {
  padding-top: 10px;
  text-align: left;
}

nav main a {
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding-top: 10px;
  padding-right: 50px;
}

nav main a:hover {
  color: red;
}


.videofull iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


section.full {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, black, rgba(255,0,0,0)), url('../image/13 reasons why 1.jpg');
  background-size: cover;
}

.bigposter {
  width: 100%;
  height: 65vh;
  background-color: transparent;
  display: block;
}

.title {
  width: 50%;
  height: auto;
  padding-top: 10%;
}

.synopsis {
  width: 35%;
  height: auto;
  padding-top: 2%;
}

.button {
  width: 50%;
  height: 30%;
  margin-top: 4%;
}

.play {
  width: 40%;
  height: auto;
  float: left;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  outline-style: solid;
  outline-color: white;
  outline-width: thin;
}

.play a {
  text-decoration: none;
  color: white;
}

.mylist a {
  text-decoration: none;
  color: white;
}

.mylist {
  width: 40%;
  height: auto;
  float: left;
  margin-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  outline-style: solid;
  outline-color: white;
  outline-width: thin;
}


.film {
  width: 100%;
  height: 22vh;
  background-color: transparent;
  display: block;
}

.trending {
  width: 100%;
  height: 4vh;
  background-color: transparent;
  display: block;
}

.filmone {
  width: 100%;
  height: 18vh;
  margin-top: 20;
  background-color: transparent;
  display: block;
}

.filmposter {
  width: 18.4%;
  height: 100%;
  margin-right: 2%;
  background-image: url('../image/got.jpg');
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
}

.filmposter1 {
  width: 18.4%;
  height: 100%;
  margin-right: 2%;
  background-image: url('../image/stranger things.png');
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
}

.filmposter2 {
  width: 18.4%;
  height: 100%;
  margin-right: 2%;
  background-image: url('../image/money heist.jpg');
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
}

.filmposter3 {
  width: 18.4%;
  height: 100%;
  margin-right: 2%;
  background-image: url('../image/sabrina.jpg');
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
}

.filmposter4 {
  width: 18.4%;
  height: 100%;
  background-image: url('../image/anne.jpg');
  background-size: cover;
  background-position: bottom right;
  float: left;
  text-align: center;
}



.filmposter p {
  padding-top: 25%;
  color: transparent;
}

.filmposter:hover {
  background-color: black;
  opacity: 0.5;
}

.filmposter p:hover {
  color: white;
  display: block;
}



.filmposter1 p {
  padding-top: 25%;
  color: transparent;
}

.filmposter1:hover {
  background-color: black;
  opacity: 0.5;
}
.filmposter1 p:hover {
  color: white;
  display: block;
}




.filmposter2 p {
  padding-top: 25%;
  color: transparent;
}

.filmposter2:hover {
  background-color: black;
  opacity: 0.5;
}
.filmposter2 p:hover {
  color: white;
  display: block;
}



.filmposter3 p {
  padding-top: 25%;
  color: transparent;
}

.filmposter3:hover {
  background-color: black;
  opacity: 0.5;
}
.filmposter3 p:hover {
  color: white;
  display: block;
}



.filmposter4 p {
  padding-top: 25%;
  color: transparent;
}
.filmposter4:hover {
  background-color: black;
  opacity: 0.5;
}
.filmposter4 p:hover {
  color: white;
  display: block;
}


section.full1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, black, rgba(255,0,0,0)), url('../image/13 reasons why 2.jpg');
  background-size: cover;
  display: none;
}


section.full2 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, black, rgba(255,0,0,0)), url('../image/got1.jpg');
  background-size: cover;
  display: none;
}

section.full3 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, black, rgba(255,0,0,0)), url('../image/stranger things.jpg');
  background-size: cover;
  display: none;
}

section.full4 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, black, rgba(255,0,0,0)), url('../image/money heist 1.jpg');
  background-size: cover;
  display: none;
}

section.full5 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, black, rgba(255,0,0,0)), url('../image/sabrina1.jpg');
  background-size: cover;
  display: none;
}

section.full6 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, black, rgba(255,0,0,0)), url('../image/anne 2.jpg');
  background-size: cover;
  display: none;
}

.judul {
  width: 50%;
  height: 30%;
  margin-top: 10vh;
  background-color: transparent;
  display: block;
}

.description {
  width: 70%;
  height: 20%;
  margin-top: 2vh;
  background-color: transparent;
  display: block;
}

@media (max-width: 886px) {
  main {
    width: 90vw;
  }
  
  nav {
    top: 0px;
    background-color: black;
  }
  
  nav main {
    padding-top: 20px;
    text-align: center;
  }
  
  nav main a {
    padding-right: 0px;
  }
  section.full {
    width: 100vw;
    height: 110vh;
    margin-top: 50px;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: black;
  }
  
  .bigposter {
    width: 90vw;
    height: 25vh;
  }
  
  .title {
    width: 80vw;
    margin-top: 150px;
  }
  
  .synopsis {
    width: 90vw;
    display: none;
  }
  
  .button {
    width: 90vw;
  }
  
  .play {
    width: 50vw;
  }
  
  .film {
    width: 90vw;
    height: auto;
  }
  
  .filmposter {
    width: 28vw;
    height: 23vh;
    margin-right: 3vw;
    background-image: url('../image/got mobile.jpg');
    background-position: center;
  }
  
  .filmposter1 {
    width: 28vw;
    height: 23vh;
    margin-right: 3vw;
    background-image: url('../image/stranger things mobile.jpg');
    background-position: center;
  }
  
  .filmposter2 {
    width: 28vw;
    height: 23vh;
    margin-right: 0vw;
    background-image: url('../image/money heist mobile.jpg');
    background-position: center;
  }
  
  .filmposter3 {
    width: 28vw;
    height: 23vh;
    margin-right: 3vw;
    margin-top: 3vw;
    background-image: url('../image/sabrina mobile.jpg');
    background-position: center;
  }
  
  .filmposter4 {
    width: 28vw;
    height: 23vh;
    margin-right: 3vw;
    margin-top: 3vw;
    background-image: url('../image/anne mobile.jpg');
    background-position: center;
  }
  
  section.full1 {
    width: 100vw;
    height: 170vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
  }
  
  section.full2 {
    width: 100vw;
    height: 110vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
  }
  
  section.full3 {
    width: 100vw;
    height: 103vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
  }
  
  section.full4 {
    width: 100vw;
    height: 98vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
  }
  
  section.full5 {
    width: 100vw;
    height: 95vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
  }
  
  section.full6 {
    width: 100vw;
    height: 103vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
  }
  .judul {
    width: 90vw;
    margin-top: 25vh;
  }
  
  .description {
    width: 90vw;
  }
  