@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: white;
  line-height: 40px;
  font-weight: 300;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  color: white;
  line-height: 80px;
  font-weight: 600;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #C3C0C0;
  line-height: 30px;
  font-weight: 600;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: white;
  line-height: 25px;
  font-weight: 300;
}